body{
    background-color: rgb(56, 55, 55);
}

.fondo {
    background-color: rgb(0, 0, 0) !important;
}

.centrado {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    
    margin-top: 5%;
}

.centrado1 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;

}

.centrado-galeria {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.imagen {
    height: 50%;
    width: 100%;
}

.formulario {
    margin-top: 30px;
}

.margenA {
    margin-top: 50px;
}

.colorl {
    color: rgb(255, 255, 255) !important;
}

.etiqueta {
    font-size: 30px;
    color:rgb(34, 30, 36)
}

.tarjeta{
    margin: 50px;
    height: 600px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.boton-tarjeta{
WIDTH: 95%;
position: absolute;
bottom: 10PX;
transform: translateX(-50%);
}

.imagen-tarjeta{
    height: 150px;
    width: 100px;
}
.isesion{
    margin: 20%;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    background: rgba(130, 129, 129, 0.518);
}

.separacion{
    margin: 20px;
}

.elemento-oculto {
    display: none;
}